:root {
  --font-size-paragraph: 16px;
  --family-font: "Red Hat Display", sans-serif;
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5em;
}
body {
  font-size: var(--font-size-paragraph);
  font-family: var(--family-font);
  background-color: var(--pale-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 450px;
  height: auto;
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--very-pale-blue);
}

.img-section img {
  width: 100%;
}

.info-section {
  padding: 30px 47px;
}

.text-info {
  padding-bottom: 30px;
}

.text-info h2{
  padding-bottom: 18px;
}

.price-section {
  padding-bottom: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.column-prices p:first-child {
  font-weight: 700;
}

.price-section a {
  font-weight: 700;
  color: var(--bright-blue);
  font-size: 13px;
}

.price-section a:hover {
  text-decoration: none;
  color: #766CF1;
}

.direction-price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  gap: 15px;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 20px;
  cursor: pointer;
}

.button div {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 10px 0;
  border-radius: 5px;
  font-weight: 700;
}
.button div a {
  text-decoration: none;
  padding: 5px 5px;
}

.button div:first-child {
  background-color: var(--bright-blue);
  border: 1px solid var(--dark-blue);
  box-shadow: 0px 15px 10px var(--pale-blue);
}

.button div:first-child:hover {
  background-color: #766CF1;
  box-shadow: 0px 15px 10px var(#766CF1);
  border: 1px solid #766CF1;
}

.button div:first-child a {
  color: var(--pale-blue);

}

.button div:last-child a {
  color: var(--desaturated-blue);
}

.button div:last-child a:hover {
  color: var(--dark-blue);
}



footer {
  position: absolute;
  bottom: 0;
  font-size: 12px;
}
.attribution {
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
  font-weight: 700;
}


@media only screen and (max-width: 375px){
  body{
    margin: 0px 30px;
  }
  main{
    width: 300px;
    
    font-size: 13px;
  }
  .info-section {
    padding: 15px 41px;
  }
  .text-info {
    padding-bottom: 20px;
  }
  
  .text-info h2{
    padding-bottom: 14px;
  }

  .price-section {
    padding-bottom: 25px;
  }
  footer{
    font-size: 12px;
  }
}